.input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 2px solid #77B0AA;
  border-left: 2px solid #77B0AA;
  padding: 1em;
  background-color: transparent;
  color: #e3fef7;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.input:focus {
  background-color: #77B0AA;
  transform: scale(1.02);
  box-shadow: 4px 4px 10px #2f3938;
}

.input::placeholder {
  color: #e3fef7;
}

.btn-modal {
  width: 120px;
  height: 36px;
  background: #000;
  color: #ffd277;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  border: 2px solid #ffd277;
  overflow: hidden;
  font-size: 10px;
}

.btn-modal span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.8s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn-modal:hover .btn-text-one {
  top: -100%;
}

.btn-modal:hover .btn-text-two {
  top: 50%;
}